{{> headerDark}}

<main class="main">

    {{> heroBlockDark}}

    {{> aboutBlockDark}}

    <div class="articles_head">
        <div class="artic_one">
            <div class="our">
                Our Articles
            </div>
            <a class="btn_view" href="#">View All</a>
        </div>
    </div>

    <div class="articles">
        {{> articleCardDark}}
    </div>
</main>

{{> footerDark}}