<div class="header">
    <div class="">
        {{> logo}}
    </div>
    <nav class="header_nav">
        <div class="header_nav_right">
            {{> nav list=header }}
        </div>

    </nav>
</div>




<footer class="page_block">
    <div class="footer">
        <div>
            {{> logo}}
            <span class="footer_copyright">Copyright 2023-2024</span>
        </div>

        {{#each footer}}
        <div class="col-3">
            <span class="footer_title">{{title}}</span>
            {{> nav list=links isVertical=true}}
        </div>
        {{/each}}

    </div>
</footer>