@import '/css/var.css';

@font-face {
  font-family: 'Segment';
  src: url(/font/Segment-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'Segment';
  src: url(/font/Segment-SemiBold.otf);
  font-weight: 600;
}


@keyframes fly {
  form {
    top: 0;
    left: 0;
  }

  5% {
    background-color: #2066ff;
  }

  15% {
    background-color: #343a40;
  }

  25% {
    top: 500px;
    left: 500px;

    background-color: #198754;
  }

  50% {
    left: 0;

    background-color: red;
  }

  to {
    top: 0;
    right: 0;
  }
}

/* ====================== */

body {
font-family: 'Roboto', sans-serif;
} 

.page {
  background: var(--color-white);
  padding: 0 15px;

  display: flex;
  justify-content: center;
}

.page_content {
  max-width: var(--page-width);
  margin: 0 auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* ======================= */

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;

  /* ----- Шапка зафиксирована ------- */

  position: sticky;

  max-width: var(--page-width);
  width: 100%;

  top: 0;
  /* left: calc(50% - (var(--page-width) / 2 )); */

  background-color: var(--color-white);
  z-index: 3;
}

.logo {
  font-size: 17px;
  color: var(--color-white);
  /* padding: 8px; */
  width: 24px;
  height: 24px;
  background-color: var(--color-prymary);
  border-radius: calc(var(--border-radius) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-xm);
  flex-direction: column;
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;
  line-height: 100%;
}

.nav_link:hover {
  text-decoration: underline;
  color: var(--color-prymary);
}

.footer {
  padding: var(--space-l) 0;
  border-top: 1px solid #dee2e6;

  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  color: var(--color-text);
  font-size: var(--size-s);

  display: block;
  margin-top: var(--space-l);
}

.footer_title {
  color: #212529;
  font-size: var(--size-l);
  font-weight: var(--weight-title);

  display: block;
  margin-bottom: var(--space-l);s
}

.hero_title {
  margin-bottom: var(--space-m);
  font-size: 50px;
  color: var(--color-title);
  font-weight: var(--weight-title);
  line-height: 120%;

  font-family: 'Segment';
  font-weight: 600;
}

.hero_text {
  color: var(--color-text);
  font-family: Roboto;
  font-size: var(--size-l);
  font-weight: var(--weight-text);
  line-height: 170%;

  font-family: 'Segment';
  font-weight: 400;
}

.hero {
  display: flex;
  gap: var(--space-b);
  align-items: center;

  padding: var(--space-b);
  border-bottom: 1px solid var(--color-border);
}

.hero_image {
  width: 500px;
  height: 500px;
  border-radius: var(--border-radius);
}

.hero_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.button {
  text-decoration: none;
  color: var(--color-white);
  display: inline-block;

  font-size: 16px;
  padding: 10px 20px;
  max-width: 248px;
  width: 100%;
  background: var(--color-prymary);
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--color-prymary);

  transition: opacity 1s;
}

.button:hover {
  opacity: 1s;
}

.preview {
  padding: var(--space-l);
  border-radius: 24px;
  border: 1px solid #dee2e6;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
}

.preview_header > span:not(:last-of-type) {
  margin-right: var(--space-m);
}

.previev_date {
  color: #6c757d;
  font-size: 16px;
}

.previev_category {
  font-size: 16px;
}

.preview > *:not(:last-child) {
  margin-bottom: var(--space-m);
}

.preview_title {
  display: block;
  color: var(--color-title);
  font-size: 28px;
  font-style: normal;
  font-weight: var(--weight-title);
}

.preview_description {
  color: #212529;
  font-size: 16px;
}

.previev_category_1 {
  color: var(--color-prymary);
}

.previev_category_2 {
  color: #198754;
}

.previev_category_3 {
  color: #ff0000;
}

.previev_category_4 {
  color: #ff7a00;
}

.list_title {
  color: var(--color-title);
  font-size: 32px;
  font-weight: var(--weight-title);
  margin: 0;
}

.list_header {
  padding-bottom: var(--space-m);
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 40px;

  display: flex;
  justify-content: space-between;
}

.category_button {
  font-size: 16px;
  color: #6c757d;
  text-align: center;
  font-family: Roboto;
  font-weight: var(--weight-text);

  padding: 10px 16px;

  border-radius: 32px;
  border: 1px solid #6c757d;

  line-height: 100%;
}

.category_button:hover {
  background-color: #6c757d19;
  /* color: #6c757da0; */
}

.list_aside {
  margin-left: 40px;
}

.category_list {
  text-align: right;
}

.list > *:not(:last-child) {
  margin-bottom: 40px;
}

.post {
  padding-bottom: 12px;
  border-bottom: 1px solid #dee2e6;
}

.post > *:not(:last-child) {
  margin-bottom: 12px;
}

.post_title {
  display: block;
  color: var(--color-title);
  font-size: 27px;
  font-weight: var(--weight-title);
}

.post_info {
  color: #999;
  font-size: 16px;
  font-weight: var(--weight-text);
}

.post_author {
  color: var(--color-prymary);
}

.post_description {
  color: #212529;
  font-size: 16px;
  font-weight: var(--weight-text);
}

.list_aside > *:not(:last-child) {
  margin-bottom: 24px;
}

.about {
  background: #f8f9fa;
  padding: 24px;
}

.about_title {
  color: var(--color-title);
  font-size: 20px;
  font-weight: var(--weight-title);
}

.about_text {
  color: #212529;
  font-size: 14px;
  font-weight: var(--weight-text);
  line-height: 170%;
}

.link_list {
  padding: 24px;
}

.link_list > *:not(:last-child) {
  margin-bottom: 12px;
}

.link_title {
  display: block;

  font-size: 24px;
  font-weight: var(--weight-title);
  color: var(--color-title);
}

.link_item {
  display: block;
  font-size: 16px;
  font-weight: var(--weight-text);
  text-decoration: none;
  color: var(--color-prymary);


}

.link_item:hover {
  text-decoration: underline;
  
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-content: space-between;

  align-items: flex-end;

  /* height: 900px; */

  /* border: 1px solid rgb(177, 216, 255);
  border-radius: 25px; */
}

.flex-item {
  flex-basis: calc(50% - (24px / 2));
  /* margin: 10px;
  background-color: #d2e7ff; */
}

.flex-item:first-of-type {
  margin-right: 24px;
  margin-bottom: 24px;

  width: calc(50% - 24px);
}

.flex-item:nth-of-type(2) {
  margin-bottom: 24px;
}

.flex-item:nth-of-type(3) {
  margin-right: 24px;

  width: calc(50% - 24px);
}

.blog {
  /* display: flex; */
  max-width: var(--page-width);
  gap: var(--space-b);

}

.card {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  text-align: center;
  gap: var(--space-l);

  padding: var(--space-b);
  border-bottom: 1px solid var(--color-border);
}

.card_image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.card_title {
font-size: 32px;
font-weight: var(--weight-title);
color: var(--color-title);
}

.card_text {
font-size: var(--size-d);
font-weight: var(--weight-text);
color: var(--color-text);
}

.button {
  display: inline-block;
  font-size: var(--size-d);
  text-decoration: none;
  padding: var(--space-m) var(--space-xm);
  border-radius: var(--border-radius);
  border-color: #99999900;
  box-shadow: var(--shadow-box);

  transition-property: color, background-color, opacity, box-shadow;
  transition-duration: 0.6s;
}

.card_button {

background: var(--color-prymary);
color: var(--color-white);
}

.button:hover {
  color: rgb(0, 0, 0);
  background-color: #ff5e00;
  box-shadow: var(--shadow-box);
  /* opacity: 0.7; */
}

.form {
display: flex;
justify-content: space-between;
align-items: center;

gap: 30px;


border-radius: var(--border-radius);
background: var(--color-secondary);
padding: var(--space-l);
box-shadow: var(--shadow-box);
}

.form_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.form_title {
font-size: 27px;
color: var(--color-white);
font-weight: var(--weight-title);
}

.form_info {
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  color: var(--color-white);
}

.form_button {
background-color: var(--color-white);
width: 100%;
max-width: 160px;
color: var(--color-text);
}

.hero_slider_icon {
  background-color: var(--color-prymary);

  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  color: var(--color-white);

  position: absolute;
  top: calc(50% - 15px);
}

.hero_slider_icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.hero_slider {
  position: relative;
}

.hero_slider_left {
  left: var(--space-l);
}

.hero_slider_right {
  right: var(--space-l);
}

/* .modal {
  position: fixed;
  top: 200px;
  left: 200px;

  width: 600px;
  background-color: black;
  color: #ffffff;

  padding: 24px;
  border-radius: 24px;
  line-height: 150%;
  z-index: 2;


  /* transition-property: top;
  transition-duration: 3s;
  transition-timing-function: cubic-bezier(
    0.075, 
    0.82, 
    0.165, 
    1
    );
    transition-delay: 3s; */
} */

/* body:hover .modal {
  animation-name: fly;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(1, 0, 0.51, 1);
  ;

  animation-delay: 3s;
} */

.modal {
  animation-name: fly;
  animation-duration: 6s;
  animation-timing-function: cubic-bezier(1, 0, 0.51, 1);
  ;

  animation-delay: 2s;

  animation-fill-mode: both;

  /* animation-iteration-count: infinite; */
}

/* body:hover .modal {
  animation-play-state: paused;
} */



.modal_image {
  width: 150px;
  height: 150px;

  float: left;
  margin-right: 12px;
  margin-top: 12px;
}

.blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media all and (600px < width <= 800px) {
   .blog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (width <= 600px) {
  .blog {
    grid-template-columns: 1fr;
  }
}


@media all and (width <= 560px) {
  .form {
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
  }

  .form_info {
    max-width: 300px;
    width: 100%;
    line-height: 150%;
  }

  .form_content {
    align-items: center;
    text-align: center;
  }
}

.hero_container {
  container-type: inline-size;
  container-name: hero;

}

@container hero (width < 960px) {
  .hero {
    flex-direction: column;
  }

}