:root {
  --space-s: 8px;
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --f-size-s: 14px;
  --f-size-d: 16px;
  --f-size-dl: 18px;
  --f-size-l: 24px;
  --f-size-xl: 32px;
  --fsize-xxl: 36px;

  --color-border: #6d83a3;
  --color-logo: #885FFB;
  --color-nat-bg: #253041;
  --color-main-font: #9CA3AF;
  --color-white: #ffffff;

  --shadow-box: 0px 4px 12px 0px rgba(0, 0, 0, 0.05)

  --weight-title: 700;
  --weight-text: 400;

  --border-radius-s: 10px;
  --border-radius-d: 12px;
  --border-radius-l: 24px;
  

  --page-width: 1150px;
}

/* ====================== */

body {
font-family: 'Roboto', sans-serif;
} 

.page {
  background: var(--color-nat-bg);
  padding: 0 15px;

  display: flex;
  justify-content: center;
}

.page_content {
  max-width: var(--page-width);
  margin: 0 auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  /* gap: 60px; */
}

/* ========== header ============= */

.header_1 {
  top: 0;
  color: var(--color-white);
  display: flex;
  padding: 12px 0 12px;
  justify-content: space-between;
  align-items: center;
  /* align-self: stretch; */
  border-bottom: 1px solid var(--color-border);

  /* ----- Шапка зафиксирована ------- */
  position: sticky;
  max-width: var(--page-width);
  width: 100%;
  top: 0;
  /* left: calc(50% - (var(--page-width) / 2 )); */
  background-color: var(--color-nat-bg);
  z-index: 3;
}

.logo {
  font-size: 17px;
  color: var(--color-white);
  padding: 8px 12px;
  width: fit-content;
  
  background-color: var(--color-logo);
  border-radius: var(--border-radius-s);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo:hover {
  opacity: 0.8;
  transition-duration: 0.5s;
  cursor: pointer;
}

.logo_2 {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.text_logo_2 {
font-size: 14px;
font-weight: 700;
color: var(--color-logo);
padding: 2px 6px;
background-color: rgba(136, 95, 251, 0.20);
border-radius: 4px;
}


.header_nav {
  display: flex;
  flex-direction: row;
  gap: 24px;
}


.header_item{
  color: var(--color-white);
  font-size: var(--f-size-d);
  font-weight: var(--weight-text);
  text-decoration: none;
}

.header_item:hover {
  color: #885FFB;
  transition-duration: 0.5s;
  cursor: pointer;
}


.header_2 {
  top: 0;
  color: var(--color-white);
  display: flex;
  padding-top: 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  /* ----- Шапка зафиксирована ------- */
  position: sticky;
  max-width: var(--page-width);
  width: 100%;
  top: 0;
  /* left: calc(50% - (var(--page-width) / 2 )); */
  background-color: var(--color-nat-bg);
  z-index: 3;
}

.hd_2_start {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;

}

.hd_2_title {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.hd_2_title:hover {
  color: #885FFB;
  transition-duration: 0.5s;
  cursor: pointer;
}

.user_count {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
}


/* ====== ---- = footer = ---- ====== */

.footer {

  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 32px;
  gap: 16px;
  /* align-self: stretch; */
  border-top: 1px solid var(--color-border);
}

.f_pages {
  display: flex;
  gap: 16px;
}

.pages_link {
  color: #FFF;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.pages_link:hover {
  color: #885FFB;
  transition-duration: 0.5s;
  cursor: pointer;
}

.footer_copyright {

  display: flex;
  color: #9CA3AF;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}

/* -------------------------------- */

.main {
  display: flex;
  flex-direction: column;
  
  gap: 60px;
}

.hero {
  display: flex;
  height: 300px;
  padding: 32px;
  margin-top: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;

  border-radius: 24px;
  background: radial-gradient(632.95% 141.42% at 100.00% 100.00%, rgba(17, 24, 39, 0.00) 0%, rgba(78, 63, 146, 0.60) 100%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
}

.hero_title {
  width: 600px;

  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.hero_text {
  width: 600px;

  color: var(--color-main-font);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; 
}

.button_hero {
  display: flex;

  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  /* padding: 12px 119px; */
  justify-content: center;
  align-items: center;
  gap: 12px;

  border-radius: 10px;
  background: #885FFB;

  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.button_hero:hover {
  background: #7949fd;
  /* color: #9772fd; */
  transition-duration: 0.5s;
  cursor: pointer;
}

.about {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;

  border-radius: 24px;
  background: rgba(58, 65, 81, 0.44);
  backdrop-filter: blur(25px);
}

.about_heading {
  width: 600px;

  color: #FFF;
  font-size: 24px;
  font-weight: 700;
}

.about_info {
  align-self: stretch;

  color: var(--color-main-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 170%;
}


.our {
  display: flex;
  color: #FFF;
  font-family: Roboto;
  font-size: 32px;
  
  font-weight: 700;
}

.btn_view {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  color: #FFF;
  font-size: 16px;

  font-weight: 700;

  border-radius: 10px;
  border: 1px solid var(--color-main-font);
  text-decoration: none;
}

.btn_view:hover {
  color: #885FFB;
  border: 1px solid var(--color-logo);
  transition-duration: 0.5s;
  cursor: pointer;
}

.artic_one {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.articles {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;

  margin-bottom: 60px;
}

.articles_card {
  width: 360px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 16px;
  flex: 1 0 0;

  position: relative;
}

.art_pht {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  border-radius: 24px;
}

.articles_name {
  align-self: stretch;

  color: #FFF;

  font-size: 18px;
  font-weight: 700;
}

.articles_description {
  align-self: stretch;

  color: var(--color-main-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.btn_articles {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 10px;
  background: var(--color-logo);

  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.btn_articles:hover {
  background: #7949fd;
  transition-duration: 0.5s;
  cursor: pointer;
}

/* .articles_photo {
  position: relative;
} */

.bage_new {
  position: absolute;
  left: 308px;
  top: 165px;
  display: inline-flex;
  padding: 2px 6px;
  align-items: flex-start;
  gap: 10px;

  border-radius: 4px;
  background: rgba(251, 95, 95, 0.50);

  color: #FFF;
  font-size: 16px;
  font-weight: 700;

}