:root {
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;

  --color-border: #dee2e6;
  --color-prymary: #2066ff;
  --color-secondary: #563D7C;
  --color-white: #ffffff;
  --color-title: #212529;
  --color-text: #343a40;

  --shadow-box: 0px 4px 12px 0px rgba(0, 0, 0, 0.05)

  --weight-title: 500;
  --weight-text: 400;

  --border-radius: 12px;

  --page-width: 960px;
}

/* ====================== */

body {
font-family: 'Roboto', sans-serif;
} 

.page {
  background: var(--color-white);
  padding: 0 15px;

  display: flex;
  justify-content: center;
}

.page_content {
  max-width: var(--page-width);
  margin: 0 auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* ======================= */

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;

  /* ----- Шапка зафиксирована ------- */

  position: sticky;

  max-width: var(--page-width);
  width: 100%;

  top: 0;
  /* left: calc(50% - (var(--page-width) / 2 )); */

  background-color: var(--color-white);
  z-index: 3;
}

.logo {
  font-size: 17px;
  color: var(--color-white);
  /* padding: 8px; */
  width: 24px;
  height: 24px;
  background-color: var(--color-prymary);
  border-radius: calc(var(--border-radius) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-xm);
  flex-direction: column;
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;
  line-height: 100%;
}

.nav_link:hover {
  text-decoration: underline;
  color: var(--color-prymary);
}

.footer {
  padding: var(--space-l) 0;
  border-top: 1px solid #dee2e6;

  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  color: var(--color-text);
  font-size: var(--size-s);

  display: block;
  margin-top: var(--space-l);
}

.footer_title {
  color: #212529;
  font-size: var(--size-l);
  font-weight: var(--weight-title);

  display: block;
  margin-bottom: var(--space-l);s
}
