<div class="hero">
    {{#with hero}}
    <div class="hero_title">
        {{title}}
    </div>
    <p class="hero_text">
        {{description}}
    </p>
    <a class="button_hero" href="{{button.url}}">{{button.text}}</a>
    {{/with}}
</div>